.MyInput {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 2px solid rgb(170, 169, 169);
  background-color: transparent;
  padding-left: 15px;
  &:focus {
    outline: none;
    /* transform: scale(1.03); */
  }
}

.MyInput .has-image {
  padding-left: 25px;
}

.registration-input {
  border: none;
  border-bottom: 2px solid gray;
}

::-webkit-input-placeholder {
  color: gray;
  font-weight: 700;
}
