* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.padding {
  padding-top: 50px;
  padding-left: 200px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
