.table-element {
  display: grid;
  background-color: transparent;
  min-height: 40px;
  grid-template-columns: 1fr 4fr 0.5fr repeat(5, 1fr);
  align-items: center;
  padding-bottom: 2px;
  border-bottom: 2px solid gray;

  .table-name {
    grid-column-start: 2;
    justify-content: center;
  }

  .table-star {
    display: flex;
    grid-column-start: 3;
  }

  .table-star-icon {
    margin-left: auto;
    width: 24px;
    height: 24px;
  }

  .table-size {
    grid-column-start: 6;
    justify-content: center;
  }

  .table-access {
    grid-column-start: 7;
    justify-content: center;
  }
}

.table-element:hover {
  background-color: rgb(230, 230, 230);
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr repeat(5, 1fr);
  align-items: center;
  padding-bottom: 7px;
  border-bottom: 2px solid gray;

  .table-name {
    grid-column-start: 2;
    justify-content: center;
  }

  .table-size {
    grid-column-start: 6;
    justify-content: center;
  }

  .table-access {
    grid-column-start: 7;
    justify-content: center;
  }
}
